body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding-top: 0px;
    background-color: #261515;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 1312.5px;
    margin-bottom: 300px;
}