.contact {
    background-color: #8B7F7A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 615px;
}

.contact-title {
    margin: 0px;
    text-decoration: underline;
    font-weight: 400;
    color: white;
    padding-bottom: 30px;
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1.5px solid black;
    border-radius: 3px;
    padding: 60px 50px 30px 50px;
    width: 450px;
    height: 250px;
}

.contact-name,
.contact-email,
.contact-message {
    border: none;
    color: black;
    border-bottom: 1.5px solid #FFE3D1;
    background-color: transparent;
    transition: all 0.3s ease;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    width: 200px
}

.contact-name:focus,
.contact-email:focus,
.contact-message:focus {
    outline: 1.5px solid #FFE3D1;
    background-color: #675d59;
    border: none;
    color: white;
}

::placeholder {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.nameAndEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 45px;

}

.contact-message {
    display: block;
    margin-top: 30px;
    width: 100%;
    height: 80px;
}

.contact-send {
    align-self: center;
    margin-top: 0px;
    border: none;
    border-radius: 8px;
    background-color: #251515;
    color: #F4ECEC;
    font-size: 22.5px;
    padding: 15px;
    width: 8.25rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact-send:hover {
    background-color: rgb(242, 167, 63);
    color: #251515;
}

.plane {
    width: 10.5px;
    padding-left: 6px;
    padding-bottom: 3px;
    fill: #ffb639;
    transition: all 0.3s ease;
}

.contact-send:hover .plane {
    fill: #100a0a;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.contact-icon {
    fill: #100a0a;
    height: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-icon:hover {
    fill: #FF701F;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent;
}