.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1D1010;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.email {
    text-decoration: none;
    color: white;
}

.nav-pages {
    display: inline-grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 50px;
    justify-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}