.about {
    margin: 0px;
    background-color: #261515;
    background-image: url("./BlueberryLarge.png");
    padding: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1.5px solid #0f0808;
}

.text-box {
    display: flex;
    flex-direction: column;
    width: 525px;
    height: 525px;
    color: #F5F1EF;
    padding: 45px;
}

.name {
    margin: 0px;
}

.title {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    padding-top: 15px;
    color: #FF701F;
}

.intro {
    font-size: 19.5px;
    margin: 0px;
    padding-top: 25px;
    font-weight: 400;
}

.skills-title {
    font-size: 22.5px;
    color: #FF701F;
}

.skills {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: auto;
    padding-left: 30px;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}


@media screen and (max-width: 480px) {
    .about {
        padding: 30px 30px 60px 30px;
        background-image: none;
    }

    .text-box {
        width: auto;
        height: 100%;
        padding: 0px;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .title {
        font-size: 25px;
    }

    .intro {
        font-size: 17px;
        text-align: center;

    }

    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 50px;
        padding-left: 30px;
        max-width: 300px;
    }
}