.scroll-button {
    position: fixed;
    width: 75px;
    height: 75px;
    bottom: 22.5px;
    right: 30px;
    cursor: pointer;
    fill: #140B0B;
    background-color: #F4EFEE;
    border-radius: 50%;
    border: 1.75px solid #F4EFEE;
    transition: all 0.3s ease;
}



.scroll-button:hover {
    background-color: #140B0B;
    border: 1.75px solid #140B0B;
    fill: rgb(255, 171, 53);
}