.my-projects {
    margin: 0px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4EFEE;
    height: 450px;
    border-bottom: 1px solid #0f0808;
}

.my-projects-title {
    color: #231414;
    text-decoration: underline;
    font-weight: 400;
    padding-bottom: 30px;
    margin: 0px;
}

.projects {
    display: flex;
    flex-direction: row;
    height: 350px;
    gap: 20px;
}



.dbc,
.travel-journal,
.cyclone-station {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: #D2C7C5;
    width: 225px;
}

.project-images {
    width: 225px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.40);
    cursor: pointer;
}

.project-title {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding-top: 15px;
}

.project-description {
    font-size: 12px;
    padding: 20px;
    margin: 0px;
}