.my-projects {
    margin: 0px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4EFEE;
}

.my-projects-title {
    color: #231414;
    text-decoration: underline;
    font-weight: 400;
    padding-bottom: 30px;
    margin: 0px;
}

.projects {
    display: flex;
    flex-direction: row;
    height: 410px;
    gap: 20px;
}

.project-images {
    width: 310px;
    height: 189px;
}

.dbc,
.travel-journal,
.cyclone-station {
    background-color: #D2C7C5;
    width: 310px;
}